/**
  * @Filename: color.less
*/

// ----------------------------------------------------------------------------- COLOR

/**
 * .trans bg color
 */

.transBgColor (@color0, @color1) 
{
    background: -moz-linear-gradient(top, @color0 0%, @color1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @color0), color-stop(100%, @color1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @color0 0%, @color1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @color0 0%, @color1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @color0 0%, @color1 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, @color0 0%, @color1 100%);
    /* W3C */
}

/**
 * linear gradient
 * ex: .linearGradient(top, #000);
 */

.linearGradient (@direction, @color-stops) 
{
    background: nth(nth(@color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction(@direction), @color-stops);
    background: linear-gradient(@direction, @color-stops);
}

