/**
  * @Filename: fonts.less
  * @Description: Helpers Mixins from "Solidify" repo
  * https://github.com/solid-js/solidify
  * 
*/

// ----------------------------------------------------------------------------- FONTS

/**
 * Declare and load a font
 */

.declareFontFace (@basePath, @fontFileName, @fontFamilyName, @fontWeight: normal, @fontStyle: normal, @SVGName: '')
{
    @font-face
    {
        font-family: @fontFamilyName;

        src:  url(~'@{basePath}@{fontFileName}.eot?#iefix')       format('embedded-opentype'),
        url(~'@{basePath}@{fontFileName}.woff')                   format('woff'),
        url(~'@{basePath}@{fontFileName}.ttf')                    format('truetype'),
        url(~'@{basePath}@{fontFileName}.svg#@{SVGName}')         format('svg');

        font-weight: @fontWeight;
        font-style: @fontStyle;
    }
}

/**
 * Smooth fonts
 */

.fontSmooth ()
{
    // Activer l'anti-aliasing
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

