/**
  * @Filename: geometric.less
  * 
*/

// ----------------------------------------------------------------------------- GEOMETRIC FORM

/**
 * Triangle
 * ex : .triangle(10px, down, #888);
 */

.triangle (@width, @dir, @color) {
    & when (@dir = up) {
        width: 0;
        height: 0;
        border-left: @width/2 solid transparent;
        border-right: @width/2 solid transparent;
        border-bottom: @width/2 solid @color;
    }
    & when (@dir = down) {
        width: 0;
        height: 0;
        border-left: @width/2 solid transparent;
        border-right: @width/2 solid transparent;
        border-top: @width/2 solid @color;
    }
    & when (@dir = right) {
        width: 0;
        height: 0;
        border-top: @width solid transparent;
        border-bottom: @width solid transparent;
        border-left: @width solid @color;
    }
    & when (@dir = left) {
        width: 0;
        height: 0;
        border-top: @width solid transparent;
        border-bottom: @width solid transparent;
        border-right: @width solid @color;
    }
}

/**
 * line
 * ex: .line(320px, 2px, @color_link, 0);
 */

.line(@x, @y, @color, @radius) 
{
    display: block;
    position: relative;
    width: @x;
    height: @y;
    background-color: @color;
    border-radius: @radius;
}


