/**
  * @Filename: reset.less
  * 
*/

// ----------------------------------------------------------------------------- RESET

/**
 * reset button style
 */
.resetButtonStyle
{
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  border-radius: 0;
}

/**
 * reset focus button style
 */
.resetFocusButtonStyle
{
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

/**
 * reset select style
 */
.resetSelectFormStyle
{
  appearance: none;
  line-height: normal;
  background-image: none;
}
