/**
  * @Filename: scroll.less
  * @Description: Helpers Mixins from "Solidify" repo
  * https://github.com/solid-js/solidify
  * 
*/

// ----------------------------------------------------------------------------- SCROLLS

/**
 * Patch scrolling on iOS
 * Hide visible scrollBar on IE10+ and chrome PC
 */

.scrollPatch ()
{
    // Compatibilité IE / iPad
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;

    // Masquer les scrollBar sur ie10+
    -ms-overflow-style: none;

    // Masquer les scrollbar sur chrome
    &::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;
    }
}

/**
 * Force scrollBar to be shown
 */

.showScrollBar ()
{
    -ms-overflow-style: scrollbar;
    &::-webkit-scrollbar
    {
        width: auto;
        height: auto;
    }
}

/**
 * Enable vertical scroll on an element and patch it.
 * NOTE : This is not a mixin because we need this declaration from javascript.
 */

.verticalScroll
{
    // Scroll
    overflow: hidden;
    overflow-y: scroll;

    .scrollPatch();
}

/**
 * Enable horizontal scroll on an element and patch it.
 * NOTE : This is not a mixin because we need this declaration from javascript.
 */

.horizontalScroll
{
    overflow: hidden;
    overflow-x: scroll;

    .scrollPatch();
}

