/**
  * @Filename: sizePosition.less
  * @Description: Helpers Mixins from "Solidify" repo
  * https://github.com/solid-js/solidify
  * 
*/

// ----------------------------------------------------------------------------- POSITION & SIZES

/**
 * Place an element absolute
 */

.place (@top:auto, @right:auto, @bottom:auto, @left:auto, @position:absolute)
{
    position: @position;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

/**
 * Place an element absolute on top left
 */

.topLeft (@top:auto, @left:auto, @position:absolute)
{
    position: @position;
    top: @top;
    left: @left;
}

/**
 * Set width and height on en element
 */

.size (@width, @height)
{
  width: @width;
  height: @height;
}

/**
 * Set width and height on en element
 */

.maxSize (@width:auto, @height:auto)
{
  max-width: @width;
  max-height: @height;
}

/**
 * Center with absolute and translate yx, y or x.
 * Use with caution, preferable to avoid and use flex most of time.
 */

.absoluteCenter (@axis:yx)
{
  & when(@axis = yx) {
    .topLeft(50%, 50%);
    transform: translate(-50%,-50%);
  }

  & when(@axis = y) {
    .topLeft(50%, auto);
    transform: translateY(-50%);
  }

  & when(@axis = x) {
    .topLeft(auto, 50%);
    transform: translateX(-50%);
  }
}

/**
 * back to relative position
 */

.resetAbsoluteCenter ()
{
  position: relative;
  top: auto;
  left: auto;
  transform: translate(0,0);
}

